.drag-drop-container {
  position: relative;
  width: 100%;
  height: 400px;
  border: 2px dashed #4e664f;
  border-radius: 12px;
  background-color: #8cb88ee0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag-drop-container.video-loaded {
  background-color: transparent;
  border: none;
}

.dark-mode .drag-drop-container.video-loaded {
  background-color: transparent;
  border: none;
}

.drag-placeholder {
  font-size: 18px;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.drag-drop-container.dark-mode {
  background-color: #3c4042;
  color: #fff;
  border: 2px dashed #bb86fc;
}

.drag-drop-container.dark-mode .drag-placeholder {
  color: #bb86fc;
}

.drag-icon {
  max-width: 100px;
}
