.upload-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  background-color: #8cb88e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  align-items: center;
}

.file-input {
  display: none;
}

.custom-file-label {
  display: inline-block;
  padding: 7px 20px;
  border: 2px solid #CAC4D0;
  color: black;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  user-select: none;
  transition: background-color 0.3s;
}

.dark-theme .custom-file-label {
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
}

.custom-file-label.selected {
  background-color: #018786;
}

.custom-file-label.disabled {
  cursor: not-allowed;
}

.dark-theme .custom-file-label.selected {
  background-color: #6e00b3;
}

.custom-file-label:hover {
  background-color: #cac4d080;
}

.dark-theme .custom-file-label:hover {
  background-color: #444;
}

.url-input {
  background-color: rgba(0, 123, 255, 0);
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #CAC4D0;
  width: 250px;
  text-align: center;
}

.dark-theme .url-input {
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
}

.url-input::placeholder {
  color: black;
}

.dark-theme .url-input::placeholder {
  color: #fff;
}

.url-input:disabled {
  background-color: rgba(0, 123, 255, 0);
  cursor: not-allowed;
}

.file-input:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.confirm-button {
  padding: 10px 20px;
  background-color: #a8dcab;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dark-theme .confirm-button {
  background-color: #65558F;
}

.confirm-button:disabled {
  cursor: not-allowed;
}

.confirm-button:hover:not(:disabled) {
  background-color: #008000;
}

.dark-theme .confirm-button:hover:not(:disabled) {
  background-color: #6e00b3;
}