body {
  background-color: #ffffff;
  color: #333;
}

/* Dark Theme */
body.dark-theme {
  background-color: #121212;
  color: #e0e0e0;
}

/* Change Theme Icon */
.theme-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* Main Container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 20px auto;
}

body.dark-theme .upload-container {
  background-color: #3c4042;
  color: #fff;
}

/* Dark Mode Styles for Inputs */
body.dark-theme .file-input,
body.dark-theme .url-input {
  background-color: #333;
  color: #fff;
  border-color: #444;
}

/* Drag-and-Drop Container when playing */
.drag-drop-container.playing {
  background-color: transparent;
  border: none;
}

/* Default Drag-and-Drop Container Styles */
.drag-drop-container {
  position: relative;
  width: 100%;
  height: 400px;
  border: 2px dashed #4e664f;
  border-radius: 12px;
  background-color: #8cb88ee0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dark Mode Drag-and-Drop Container */
body.dark-theme .drag-drop-container {
  background-color: #3c4042;
  color: #fff;
  border: 2px dashed #bb86fc;
}

/* Dark Mode Drag-and-Drop Container when playing */
body.dark-theme .drag-drop-container.playing {
  background-color: transparent;
  border: none;
}

/* Drag Placeholder */
.drag-placeholder {
  font-size: 18px;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dark-theme .drag-placeholder {
  color: #bb86fc;
}

/* Drag-and-Drop Icon */
.drag-icon {
  max-width: 100px;
}

.no-border {
  border: none;
}

/* Video Wrapper */
.video-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 12px;
}

.video-element {
  width: 100%;
  height: 100%;
  background-color: black;
}

/* Controls Container */
.controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.video-wrapper:hover .controls-container {
  transform: translateY(0);
}

/* Play/Pause Button */
.play-pause-button,
.sound-button {
  width: 40px;
  height: 40px;
  background: #69abce;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.play-pause-button.play::before {
  content: "";
  position: absolute;
  left: 35%;
  top: 25%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 18px;
  border-color: transparent transparent transparent #ffffff;
}

.play-pause-button.pause::before,
.play-pause-button.pause::after {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 6px;
  height: 20px;
  top: 25%;
  border-radius: 2px;
}

.play-pause-button.pause::before {
  left: 30%;
}

.play-pause-button.pause::after {
  right: 30%;
}

.sound-button img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fullscreen-button {
  width: 40px;
  height: 40px;
  background: #69abce;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
